.item {
  cursor: pointer;
  user-select: none;
  text-align: center;
  min-width: 500px;
  input {
    text-align: center;
    background-color: none;
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 8px 0px;
    outline-color: var(--primary);
    &:disabled {
      background: none;
      cursor: pointer;
    }
  }
}
